body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.main-color{
  color: #ac238d;
}
.home-page{
  text-align: center;
  margin-top: 2em;
}

.home-page i{
  font-size: 2.5em;
  margin-bottom: .5em;
}
/*############# Main Header ################*/
.navbar{
    z-index: 1;
    position: fixed;
    background: #333;
    width: 100%;
    border-bottom: .2em solid #ac238d;
}
.navbar-expand-lg .navbar-nav {
    margin-right: 0 !important;
    margin: auto;
}
.main-view{
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 0;
}
.main-view .overlay{
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
  background: rgba(0, 0, 0, .6);
}
.main-view >img{
    width: 100%;
    background-size: cover;
    position: fixed;
    top: 0;
    bottom: auto;
    left: 0;
    z-index: -1;
}

.welcome-text{
  text-align: center;
  position: absolute;
  top: 40vh;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  z-index: 2;
  color: #fff;
  font-size: 3em;
}
.move-down{
    position: absolute;
    top: 70vh;
    left: 48vw;
    z-index: 3;
    color: #ac238d;
    font-size: 2.5em;
}
/************** Menus ************/
.main-menus{
  padding: 1em 0;
}
.main-menus h1{
  color: #fff;
}
.main-menus .carousel-item img{
  width: 100%;
  height: 40em;
}
/************* Feedback *****************/
.feeback{
  color: #fff;
  padding: 1.5em 0;
  color: #fff;
}
.feeback-result{
  padding: 1em 0;
}
.feeback-result .message{
    background: #000;
    margin: .5em 0;
    border-radius: .5em;
    padding: .5em;
    color: #fff;
}
.feeback-result .message h3{
    color: #ac238d;
}
.feeback-result .message a{
    float: right;
    text-decoration: none;
}
/************ Galary ****************/
.galary{
  padding-top: 8em;
  width: 100%;
  min-height: 100vh;
  color: #fff;
  position: relative;
  background: rgba(0, 0, 0, .8);
  padding-bottom: 1em;
}
.galary-header .main-view{
  height: 0;
}
.galary h1{
  margin-bottom: 1em;
}
.galary .item img{
  width: 100%;
  height: 18em;
  margin-bottom: 2em;
  border-radius: .5em;
}
/************ Contact ****************/
.contact{
  padding-top: 8em;
  width: 100%;
  min-height: 100vh;
  color: #fff;
  padding-bottom: 1em;
}
.contact-header .main-view{
  height: 0;
}
.contact form input[type="text"]{
  margin-bottom: .5em;
}
/************ About Us ****************/
.about{
  padding-top: 6em;
  width: 100%;
  min-height: 100vh;
  color: #bbb;
  background: rgba(0, 0, 0, .6);
  text-align: center;
  padding-bottom: 1em;
  position: relative
}
.about-header .main-view{
  height: 0;
}
.about img{
  width: 30%;
  border-radius: 1em;
  margin-bottom: .5em;
}
/************ Table *************/
.main-table-header{
  text-align: center;
  font-size: 2.5em;
  font-style: italic;
  color: #ccc;
}
/*================ Footer ====================*/
.footer{
    width: 100%;
    background: #000;
    color: #fff;
    text-align: center;
    padding: .5em 0;
    margin-top: 0;
}
.footer h6{
    padding-top: .4em;
}
/************* Media query **************/
@media (max-width: 992px){
  .main-nav{
    width: 100%;
    justify-content: initial;
    font-size: 1.6em;
  }
  .navbar-expand-lg .navbar-nav li{
    text-align: center;
  }
  .main-nav .main-brand{
    width: 15%;
    margin-top: .3em;
    margin-left: .4em;
  }
  .menu{
    display: block;
    position: absolute;
    right: .4em;
    top: .4em;
    font-size: 1.5em;
    color: #fff;
    border-radius: .2em;
    padding: 0 .2em;
  }
  .main-nav .list{
    width: 100vw;
    top: 1.5em;
    margin-top: -11em;
    transition: all .5s ease-in-out;
  }
  .main-nav ul{
    margin-bottom: 0;
    padding-left: 0;
  }
  .main-nav .list li{
    display: block;
    width: 100vw;
    background: #ac238d;
    border-bottom: .1em solid #333;
    text-align: center;
  }
  .main-nav .list li a{
    color: #ddd;
    display: block;
  }
}


