<header class="about-header">
    <div class="main-view">
        <div class="overlay"></div>
        <img src="images/glasgow.jpg" alt="glasgow">
    </div>
</header>
<div class="about">
    <div class="container">
        <img src="/images/canteen-san.jpg" alt="">
        <h1>{{title}}</h1>
        <p>
            This website was developed by Cyber group. "Cyber group" is a team of student in Anniesland Campus Glasgow Clyde College,
            which is part of a development project for a class. The Class goal was create a website for each area of Anniesland Campus,
            but our duty was make a website about the canteen. We wanted make stronger the link between students and canteen staff, but
            also showing the complete menu in order to make the students lunch choice easier.
        </p>
    </div>
</div>
