<header class="contact-header">
    <div class="main-view">
        <div class="overlay"></div>
        <img src="images/glasgow.jpg" alt="glasgow">
    </div>
</header>
<div class="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <h1>{{title}}</h1>
                <p>
                    Hello world Hello world Hello world Hello world Hello world Hello world, Hello world Hello world Hello world Hello world
                    Hello world Hello world, Hello world Hello world Hello world Hello world Hello world Hello world, Hello world Hello world
                    Hello world Hello world Hello world Hello world, Hello world Hello world Hello world Hello world Hello world Hello world,
                    Hello world Hello world Hello world Hello world Hello world Hello world, Hello world Hello world Hello world Hello world
                    Hello world Hello world,</br>
                    <strong>0141 000 0000</strong>,
                    <strong>cybercanteen@gcc.com</strong>
                </p>
                <form action="#" method="post">
                    <div class="row">
                        <div class="col-lg-6">
                            <input type="text" class="form-control" name="name" id="#" placeholder="Full name">
                        </div>
                        <div class="col-lg-6">
                            <input type="email" class="form-control" name="email" id="#" placeholder="Email">
                        </div>
                    </div>
                    </br>
                    <div class="row">
                        <div class="col-lg-12">
                            <textarea name="message" class="form-control" id="" cols="30" rows="10"></textarea>
                        </div>
                    </div>
                    </br>
                    <input type="button" class="btn btn-primary" value="Send">
                </form>
            </div>
        </div>
    </div>
</div>
