<div class="edit-feedback">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <h1 class="feedback-title">Edit your feedback</h1>
                <form method="post">
                    <input type="text" value="{{feedbackData.name}}" class="form-control" placeholder="Full name" name="name" id="#">
                    </br>
                    <textarea name="message" class="form-control" placeholder="Message" id="" cols="30" rows="10">{{feedbackData.message}}</textarea>
                    </br>
                    <input type="submit" class="btn btn-primary" value="Send" id="submitButton">
                </form>
            </div>
        </div>
    </div>
</div>