<div class="feeback">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <h1>Leaver your feedback here please</h1>
                <form method="post">
                    <input type="text" value="{{editFeedback.name}}" class="form-control" placeholder="Full name" name="name" id="#">
                    </br>
                    <textarea name="message" class="form-control" placeholder="Message" id="" cols="30" rows="10">{{editFeedback.message}}</textarea>
                    </br>
                    <input type="submit" class="btn btn-primary" value="Send">
                </form>
            </div>
        </div>
    </div>
</div>