{{!-- <div class="home-page">
    <h1>{{title}}</h1>
    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
    <p>Welcome to {{title}}</p>
</div> --}}
<header>
    <div class="main-view">
        <div class="overlay"></div>
        <img src="images/glasgow.jpg" alt="glasgow">
        <div class="welcome-text">
            <p>
                You are welcome to <strong class="main-color">Cyber Group's Canteen</strong>
            </p>
        </div>
    </div>
</header>
<div class="menus">
    <div class="container">
        <h1 class="main-color">Our Menu</h1>
        <table class="table table-bordered table-dark">
            <thead>
                <tr>
                    <th scope="col">Monday</th>
                    <th scope="col">Tuesday</th>
                    <th scope="col">Wednesday</th>
                    <th scope="col">Thursday</th>
                    <th scope="col">Friday</th>
                </tr>
            </thead>
            <thead  class="main-color">
                <tr>
                    <th scope="col">Today’s Soup Choice</th>
                    <th scope="col">Today’s Soup Choice</th>
                    <th scope="col">Today’s Soup Choice</th>
                    <th scope="col">Today’s Soup Choice</th>
                    <th scope="col">Today’s Soup Choice</th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-success">
                    <td scope="row">Leek & Potato (v) =>
                        <strong class="prise-color">£1.00s/£1.30l</strong>
                    </td>
                    <td scope="row">Carrot & Coriander (v) =>
                        <strong class="prise-color">£1.00s/£1.30l</strong>
                    </td>
                    <td scope="row">Red lentil,chickpea&tomato (v) =>
                        <strong class="prise-color">£1.00s/£1.30l</strong>
                    </td>
                    <td scope="row">Vegetable Broth (v) =>
                        <strong class="prise-color">£1.00s/£1.30l</strong>
                    </td>
                    <td scope="row">Cock a Leekie (v) =>
                        <strong class="prise-color">£1.00s/£1.30l</strong>
                    </td>
                </tr>
                <tr class="bg-danger">
                    <td scope="row">Leek & Potato (v) =>
                        <strong class="prise-color">£1.00s/£1.30l</strong>
                    </td>
                    <td scope="row">Carrot & Coriander (v) =>
                        <strong class="prise-color">£1.00s/£1.30l</strong>
                    </td>
                    <td scope="row">Red lentil,chickpea&tomato (v) =>
                        <strong class="prise-color">£1.00s/£1.30l</strong>
                    </td>
                    <td scope="row">Vegetable Broth (v) =>
                        <strong class="prise-color">£1.00s/£1.30l</strong>
                    </td>
                    <td scope="row">Cock a Leekie (v) =>
                        <strong class="prise-color">£1.00s/£1.30l</strong>
                    </td>
                </tr>
                <tr class="bg-info">
                    <td scope="row">Leek & Potato (v) =>
                        <strong class="prise-color">£1.00s/£1.30l</strong>
                    </td>
                    <td scope="row">Carrot & Coriander (v) =>
                        <strong class="prise-color">£1.00s/£1.30l</strong>
                    </td>
                    <td scope="row">Red lentil,chickpea&tomato (v) =>
                        <strong class="prise-color">£1.00s/£1.30l</strong>
                    </td>
                    <td scope="row">Vegetable Broth (v) =>
                        <strong class="prise-color">£1.00s/£1.30l</strong>
                    </td>
                    <td scope="row">Cock a Leekie (v) =>
                        <strong class="prise-color">£1.00s/£1.30l</strong>
                    </td>
                </tr>
                <thead  class="main-color">
                    <tr>
                        <th scope="col">Today’s Soup Choice</th>
                        <th scope="col">Today’s Soup Choice</th>
                        <th scope="col">Today’s Soup Choice</th>
                        <th scope="col">Today’s Soup Choice</th>
                        <th scope="col">Today’s Soup Choice</th>
                    </tr>
                </thead>
                <tr class="bg-success">
                    <td scope="row">Leek & Potato (v) =>
                        <strong class="prise-color">£1.00s/£1.30l</strong>
                    </td>
                    <td scope="row">Carrot & Coriander (v) =>
                        <strong class="prise-color">£1.00s/£1.30l</strong>
                    </td>
                    <td scope="row">Red lentil,chickpea&tomato (v) =>
                        <strong class="prise-color">£1.00s/£1.30l</strong>
                    </td>
                    <td scope="row">Vegetable Broth (v) =>
                        <strong class="prise-color">£1.00s/£1.30l</strong>
                    </td>
                    <td scope="row">Cock a Leekie (v) =>
                        <strong class="prise-color">£1.00s/£1.30l</strong>
                    </td>
                </tr>
                <tr class="bg-primary">
                    <td scope="row">Leek & Potato (v) =>
                        <strong class="prise-color">£1.00s/£1.30l</strong>
                    </td>
                    <td scope="row">Carrot & Coriander (v) =>
                        <strong class="prise-color">£1.00s/£1.30l</strong>
                    </td>
                    <td scope="row">Red lentil,chickpea&tomato (v) =>
                        <strong class="prise-color">£1.00s/£1.30l</strong>
                    </td>
                    <td scope="row">Vegetable Broth (v) =>
                        <strong class="prise-color">£1.00s/£1.30l</strong>
                    </td>
                    <td scope="row">Cock a Leekie (v) =>
                        <strong class="prise-color">£1.00s/£1.30l</strong>
                    </td>
                </tr>
                <tr class="bg-danger">
                    <td scope="row">Leek & Potato (v) =>
                        <strong class="prise-color">£1.00s/£1.30l</strong>
                    </td>
                    <td scope="row">Carrot & Coriander (v) =>
                        <strong class="prise-color">£1.00s/£1.30l</strong>
                    </td>
                    <td scope="row">Red lentil,chickpea&tomato (v) =>
                        <strong class="prise-color">£1.00s/£1.30l</strong>
                    </td>
                    <td scope="row">Vegetable Broth (v) =>
                        <strong class="prise-color">£1.00s/£1.30l</strong>
                    </td>
                    <td scope="row">Cock a Leekie (v) =>
                        <strong class="prise-color">£1.00s/£1.30l</strong>
                    </td>
                </tr>
                <tr class="bg-info">
                    <td scope="row">Leek & Potato (v) =>
                        <strong class="prise-color">£1.00s/£1.30l</strong>
                    </td>
                    <td scope="row">Carrot & Coriander (v) =>
                        <strong class="prise-color">£1.00s/£1.30l</strong>
                    </td>
                    <td scope="row">Red lentil,chickpea&tomato (v) =>
                        <strong class="prise-color">£1.00s/£1.30l</strong>
                    </td>
                    <td scope="row">Vegetable Broth (v) =>
                        <strong class="prise-color">£1.00s/£1.30l</strong>
                    </td>
                    <td scope="row">Cock a Leekie (v) =>
                        <strong class="prise-color">£1.00s/£1.30l</strong>
                    </td>
                </tr>
                <thead>
                    <tr  class="main-color">
                        <th scope="col">Today’s Soup Choice</th>
                        <th scope="col">Today’s Soup Choice</th>
                        <th scope="col">Today’s Soup Choice</th>
                        <th scope="col">Today’s Soup Choice</th>
                        <th scope="col">Today’s Soup Choice</th>
                    </tr>
                </thead>
                <tr class="bg-success">
                    <td scope="row">Leek & Potato (v) =>
                        <strong class="prise-color">£1.00s/£1.30l</strong>
                    </td>
                    <td scope="row">Carrot & Coriander (v) =>
                        <strong class="prise-color">£1.00s/£1.30l</strong>
                    </td>
                    <td scope="row">Red lentil,chickpea&tomato (v) =>
                        <strong class="prise-color">£1.00s/£1.30l</strong>
                    </td>
                    <td scope="row">Vegetable Broth (v) =>
                        <strong class="prise-color">£1.00s/£1.30l</strong>
                    </td>
                    <td scope="row">Cock a Leekie (v) =>
                        <strong class="prise-color">£1.00s/£1.30l</strong>
                    </td>
                </tr>
                <thead>
                    <tr class="main-color">
                        <th scope="col">Today’s Soup Choice</th>
                        <th scope="col">Today’s Soup Choice</th>
                        <th scope="col">Today’s Soup Choice</th>
                        <th scope="col">Today’s Soup Choice</th>
                        <th scope="col">Today’s Soup Choice</th>
                    </tr>
                </thead>
                <tr class="bg-info">
                    <td scope="row">Leek & Potato (v) =>
                        <strong class="prise-color">£1.00s/£1.30l</strong>
                    </td>
                    <td scope="row">Carrot & Coriander (v) =>
                        <strong class="prise-color">£1.00s/£1.30l</strong>
                    </td>
                    <td scope="row">Red lentil,chickpea&tomato (v) =>
                        <strong class="prise-color">£1.00s/£1.30l</strong>
                    </td>
                    <td scope="row">Vegetable Broth (v) =>
                        <strong class="prise-color">£1.00s/£1.30l</strong>
                    </td>
                    <td scope="row">Cock a Leekie (v) =>
                        <strong class="prise-color">£1.00s/£1.30l</strong>
                    </td>
                </tr>
                <tr class="bg-danger">
                    <td scope="row">Leek & Potato (v) =>
                        <strong class="prise-color">£1.00s/£1.30l</strong>
                    </td>
                    <td scope="row">Carrot & Coriander (v) =>
                        <strong class="prise-color">£1.00s/£1.30l</strong>
                    </td>
                    <td scope="row">Red lentil,chickpea&tomato (v) =>
                        <strong class="prise-color">£1.00s/£1.30l</strong>
                    </td>
                    <td scope="row">Vegetable Broth (v) =>
                        <strong class="prise-color">£1.00s/£1.30l</strong>
                    </td>
                    <td scope="row">Cock a Leekie (v) =>
                        <strong class="prise-color">£1.00s/£1.30l</strong>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
