{{!-- <div class="home-page">
    <h1>{{title}}</h1>
    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
    <p>Welcome to {{title}}</p>
</div> --}}
<header>
    <div class="main-view">
        <div class="overlay"></div>
        <img src="images/glasgow.jpg" alt="glasgow">
        <div class="welcome-text">
            <p>
                You are welcome to <strong class="main-color">Cyber Group's Canteen</strong>
            </p>
        </div>
    </div>
</header>
