<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/font-awesome.min.css' />
    <link rel="shortcut icon" type="image/x-icon" href="images/glasgow.jpg" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav class="main-nav">
      <div class="main-brand main-color">
        <h1>Cyber</h1>
      </div>
      <span class="menu" id="mainMenu">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </span>
      <div class="list" id="mainList">
        <ul>
          <li>
            <a class="nav-link" href="#">Home</a>
            </li>
          <li>
            <a class="nav-link" href="#">Galary</a>
          </li>
          <li>
            <a class="nav-link" href="#">Contact</a>
          </li>
          <li>
            <a class="nav-link" href="#">About us</a>
          </li>
        </ul>
      </div>
    </nav>
       {{{body}}}
    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/popper.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
